.cardContainer{
    border: 2px solid blue;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    box-sizing: border-box;
    
}

.photoContainer{
    border: 1px solid gray;
    border-radius: 100px;
    background-image: url('https://png.pngtree.com/element_our/png_detail/20181206/users-vector-icon-png_260862.jpg');
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: 10px;
    margin: auto;
}

.infoContaner{
    border: 1px solid gray;
}

.userName{
    font-weight: bold;
    font-size: 30px;
    color: black;
    text-align: center;
}

.userJob{
    font-size: 25px;
    color: rgba(27, 26, 26, 0.877);
    text-align: center;
}

.buttonStyle{
    border: 1px solid black;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(95, 95, 161);
    text-align: center;
}