/*
коментарий
*/
p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    font-stretch: semi-condensed;
    color: #ff0000;
    background-color: black;
    text-transform: lowercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    opacity: 0.5;
}